<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
<%= link_to "Back to posts", posts_path %>
<% if user_signed_in? %>
<% if current_user.id == @post.user_id %>
<%= link_to "Edit this post", edit_post_path(@post) %> |
<%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
<% end %>
</div>
