<nav class="navbar navbar-expand-lg navbar bg-warning">

<%# <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark"> %>
  <div class="container">
  
    <a class="navbar-brand" href="#">TheRialNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if user_signed_in? %>
       <li class="mx-1">
       <p>
           Hola <strong>   <%= current_user.email %> </strong>
       </p>
       </li>

        <li>
            <%= link_to 'Ver Posts', posts_path, class: "nav-link" %>
        </li>
        
    
          <li>
            <%= button_to 'Cerrar Sesión', destroy_user_session_path, class: "nav-link", method: :delete %>
        
        
         
        </li>
            <% else %>
       <li>
            <%= link_to 'Inicia Sesión', new_user_session_path, class: "nav-link" %>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <%= link_to 'Regístrate', new_user_registration_path, class: "nav-link" %>
        </li>

      
            <% end %>
      </ul>

    </div>
  </div>
</nav>
  
  